@import url(reset.css);
main{
    position: absolute;
    background-color: black;
    height: 400px;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-70%);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 5px;
}
.box{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

